/* ============================== CUSTOM STYLES ============================== */
body {
    background-color: var(--color--black);
}

/* ============================== CONTAINER ============================== */

.container {
    margin: 0 auto;
    text-align: center;
}

/* Media query to target mobile and tablet */
@media all and (max-width:1140px) {}

/* ============================== HEADER AND NAVBAR ============================== */
.header-black {
    height: 8rem;
    background-color: var(--color--black);
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.8rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: .2rem solid var(--color--white);
    position: fixed;
    top: 0;
    width: 100%;
}

.logo__img {
    background-image: url(../images/AgusColaci-Logo2025_White.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    height: auto;
    width: 50rem;
    text-indent: -999.9rem;
}

.header__title {
    text-transform: uppercase;
    font-family: var(--font--astounder--lc);
    font-weight: 400;
    font-size: 6rem;
    text-shadow: var(--title--shadow);
    margin-bottom: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .navbar__list {
    display: flex;
    column-gap: 2.4rem;
    flex-wrap: wrap;
}

.navbar .link {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color--white);
    text-shadow: .1rem .1rem .2rem var(--color--black);
    font-family: var(--font--roboto);
}

.link.link--active {
    border-bottom: .2rem solid;
    border-bottom-color: var(--color--border--nav);
}

/* Media query to target mobile and tablet */
@media all and (max-width:1140px) {
    .navbar .navbar__list {
        gap: .6rem;
        margin-bottom: 0;
    }

    .navbar .link {
        font-size: 1.2rem;
    }

}

/* Media query to target only mobile */
@media all and (max-width:750px) {
    .header-black {
        height: auto;
        padding: 1.2rem;
        flex-direction: column;
    }

    .logo__img {
        min-height: 4rem;
        background-position: center;
        width: auto;
    }

    .navbar {
        justify-content: center;
    }
}

/* BACKGROUND LANDING */

.section--bg {
    background-image: url(../images/encadenado.JPG);
    background-size: cover;
    height: calc(100vh - 8rem);
    margin-top: 8rem;
}

/* Media query to target only mobile */
@media all and (max-width:750px) {
    .section--bg {
        background-position: center;
    }
}

/* ============================== LANZAMIENTOS ============================== */

.lanzamientos {
    background-color: var(--color--black);
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-top: .2rem solid var(--color--white);
    border-bottom: .2rem solid var(--color--white);
}

.lanzamientos__content {
    margin-bottom: 5rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
} 

.portada-vab {
    height: 40rem;
    width: 40rem;
    border: .5rem solid var(--color--white);
    background-image: url(../images/portada-vab.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 3px 2px 11px -3px rgba(0,0,0,0.87);
}

.red-pill {
    background-color: var(--color--lightest);
    width: 15rem;
    height: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 1rem;
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 11px -3px rgb(255 255 255 / 87%)
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action__title h2 {
    font-family: var(--font--good-times);
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: var(--title--shadow);
}


.call-to-action__button p {
    background-color: var(--color--lighter);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 7rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.escuchar-ahora .link {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: .1rem solid var(--color--white);
    width: 18rem;
    max-width: 18rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color--black);
    background-color: var(--color--white);
    transition: all .3s;
}

.escuchar-ahora:hover .link {
    background-color: var(--color--lighter);
    color: var(--color--white);
}

/* Media query to target only mobile */
@media all and (max-width:750px) {
    .portada-vab {
        height: 32rem;
        width: 32rem;
        background-repeat: no-repeat;
    }

    .call-to-action__title h2 {
        font-size: 2rem;
    }

    .call-to-action__button p {
        font-size: 1rem;
    }

    .lanzamientos {
        margin-bottom: 2rem;
    }

    .lanzamientos__content {
        flex-direction: column;
    }
}

/* ============================== SHOWS ============================== */

.shows {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color--white);
    padding: 2rem;
    margin-bottom: 2rem;
}

.shows__cards {
    margin: 4rem;
}

.shows__title {
    text-align: center;
    color: var(--color--black);
    font-size: 6rem;
    font-family: var(--font--astounder--lc);
    text-transform: uppercase;
}

.shows__item {
    color: var(--color--black);
    border-top: .2rem dotted var(--color--black);
    border-bottom: .2rem dotted var(--color--black);
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.show__content--mes, .show__item--day, .show__item--year, .show__item--venue, .show__item--entradas, .show__item--pais, .show__formato {
    color: var(--color--black);
}

.show__content--mes {
    font-size: 4rem;
    margin-left: 4rem;
}

.show__fecha {
    height: 12rem;
    width: 12rem;
    border-top: 1.8rem solid #de4907;
    background-color: var(--color--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.show__item--day {
    color: var(--color--white);
    font-size: 2.8rem;
    font-weight: 700;
}

.show__item--year {
    font-size: 1.4rem;
    color: #de4907;
    font-weight: 700;
}

.show__item--venue {
    background-image: url(../images/location.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2rem;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 2.4rem;
}

.show__item--entradas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--color--black);
    width: fit-content;
    height: 3rem;
    font-size: 1.4rem;
    transition: all .3s;
    text-transform: uppercase;
    border-color: #de4907;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    cursor: pointer;
}

.show__item--entradas:hover {
    border-color: var(--color--black);
    color: var(--color--white);
    background-color: #de4907;
}

.show__ubicacion {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.show__item--pais {
    color: #79859e;
    font-size: 1.4rem;
}

.show__formato {
    color: #999999;
    font-weight: 500;
    font-size: 1.4rem;
}

.show__item--venue {
    font-size: 2.4rem;
    font-weight: 700;
}

/* Media query to target only desktop */
@media all and (min-width:1025px) {}

/* Media query to target only mobile */
@media all and (max-width:750px) {
    .shows__item {
        margin-left: 1.2rem;
        padding-left: 2.2rem;
        font-size: 2rem;
        background-size: 2rem;
    }

    .shows {
        margin: 4rem;
    }

    .shows__cards {
        margin: 0;
    }

    .shows__title {
        font-size: 4rem;
    }

    .show__content--mes {
        font-size: 2.4rem;
        text-align: center;
        margin-left: 0;
    }

    .shows__item {
        padding: 1.2rem;
        margin: 0;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .show__item--venue {
        font-size: 1.8rem;
    }

    .show__item--entradas {
        border-color: var(--color--black);
        color: var(--color--white);
        background-color: #de4907;
    }

    .show__ubicacion {
        gap: .6rem;
    }

    .show__fecha {
        width: 100%;
    }

    .redes__section {
        gap: 2rem;
    }

    #redes.redes {
        height: 20rem;
    }
}

/* ============================== REDES ============================== */

.redes {
    border: .2rem solid var(--color--white);
    background-image: url(../images/bg-cuervo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30rem;
    margin-bottom: 2rem;
}

.redes__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4rem;
}

.redes__section .links--instagram, .redes__section .links--twitter, .redes__section .links--tiktok, .redes__section .links--spotify, .redes__section .links--youtube, .redes__section .links--twitch {
    width: 4rem;
    height: 4rem;
}

/* Media query to target only mobile */
@media all and (max-width:750px) {
    .redes__section {
        gap: 2rem;
    }

    #redes.redes {
        height: 20rem;
    }
}

/* ============================== FOOTER ============================== */

.footer {
    padding-top: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.2rem;
    width: 100%;
    background-color: var(--color--black);
    text-align: center;
    border-top: .2rem solid var(--color--white);
}

.footer__logo {
    background-image: url(../images/AC-Logo2025_White.svg);
    background-repeat: no-repeat;
    text-indent: -999.9rem;
    height: 4rem;
    width: 5rem;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social .footer__social--redes {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer_copy p {
    margin-bottom: 0;
    font-size: 1.2rem;
}

.links--instagram,
.links--twitter,
.links--tiktok,
.links--spotify,
.links--youtube,
.links--twitch {
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 2rem;
    width: 2rem;
    background-size: contain;
    transition: all .3s ease;
}

.links--instagram {
    background-image: url("/icons/instagram--white.svg");
}

.links--twitter {
    background-image: url("/icons/twitter--white.png");
}

.links--tiktok {
    background-image: url("/icons/tiktok--white.png");
}

.links--spotify {
    background-image: url("/icons/spotify--white.svg");
}

.links--youtube {
    background-image: url("/icons/youtube--white.svg");
}

.links--twitch {
    background-image: url("/icons/twitch--white.png");
}

/* Media query to target only mobile */
@media all and (max-width:750px) {
    .footer {
        margin-top: 2rem;
        position: inherit;
    }

    .footer__social {
        flex-direction: column;
        gap: 1.2rem;
        padding-bottom: 2rem;
    }

}

/* ============================== BIOGRAFÍA ============================== */

.biografia {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.biografia__img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: .5rem solid var(--color--white);
    box-shadow: 3px 2px 11px -3px rgba(0,0,0,0.87);
}

.biografia__texto {
    background-color: var(--color--white);
    color: var(--color--black);
    padding: 2.4rem;
    text-align: left;
    border: .5rem solid var(--color--black);
    margin: 6rem;
}

.biografia__texto p,
.biografia__texto span {
    color: var(--color--black);
    font-size: 1.8rem;
    text-transform: uppercase;
}

.biografia__texto p {
    margin-bottom: 1.6rem;
}

.biografia__texto p:last-child {
    margin-bottom: 0;
}

.bold {
    font-weight: 700;
}

.carousel-inner {
    max-height: 60rem;
}

/* Media query to target mobile and tablet */
@media all and (max-width:1140px) {
    .biografia__texto {
        margin: 1.6rem;
    }

    .biografia__texto p,
    .biografia__texto span {
        font-size: 1.4rem;
    }

    .biografia__img {
        max-width: 100%;
    }

}
/* ============================== DISCOGRAFÍA ============================== */

.discografia {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.discografia div {
    margin-bottom: 4rem;
}

.discografia__title {
    font-size: 4rem;
    text-align: left;
    font-family: var(--font--roboto);
    text-shadow: var(--title--shadow);
    font-weight: 400;
    margin-left: 18rem;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.discografia__title .categoria.categoria--disco {
    font-size: 1.2rem;
    text-shadow: none;
    background-color: hsla(0,0%,100%,.7);
    text-transform: uppercase;
    color: #121212;
    font-weight: 700;
    height: 1.6rem;
    padding: .3rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
}

.body--discografia .footer,
.body--biografia .footer {
    position: inherit;
    margin-top: 5rem;
}

/* Media query to target mobile and tablet */
@media all and (max-width:1140px) {
    .discografia__title {
        font-size: 2rem;
        margin-left: 0;
    }

    .discografia__iframe {
        width: 100%;
        height: auto;
    }

    .discografia div {
        margin-bottom: 0;
        max-height: 15rem;
    }

    .discografia__title .categoria.categoria--disco {
        font-size: 1rem;
    }
}

/* ============================== DISCOS ============================== */

.discos {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #060606;
}

.discos__list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
    padding: 2rem;
}

.discos__list--item {
    height: 20rem;
    width: 20rem;
    border: .2rem solid var(--color--white);
}

.discos__list--item.vamos-a-bailar {
    background-image: url(../images/portada-vab.png);
    background-size: cover;
}

.discos__list--item.encadenado {
    background-image: url(../images/portada-encadenado.png);
    background-size: cover;
}

.discos__list--item.tomar-impulso {
    background-image: url(../images/portada-tomar-impulso.jpg);
    background-size: cover;
}

.discos__list--item.nada-facil {
    background-image: url(../images/nada-facil-single.png);
    background-size: cover;
}

.discos__list--item.indestructible {
    background-image: url(../images/indestructible.jpeg);
    background-size: cover;
}

.discos__list--item.hasta-el-final {
    background-image: url(../images/hasta-el-final.jpeg);
    background-size: cover;
}

.discos__list--item.por-el-cielo {
    background-image: url(../images/por-el-cielo.jpg);
    background-size: cover;
}

.discos__list--item.sigo-creyendo {
    background-image: url(../images/sigo-creyendo.png);
    background-size: cover;
}

/* ============================== COVERS ============================== */

.covers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.covers__iframe {
    max-width: 100%;
    width: 56rem;
    height: 31.5rem;
}

.body--covers .footer {
    position: inherit;
    margin-top: 4.8rem;
}

/* Media query to target mobile and tablet */
@media all and (max-width:1140px) {
    .covers {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .covers__iframe {
        width: 100%;
        height: 18rem;
    }

}

/* ============================== CONTACTO ============================== */

.contacto--title {
    font-size: 4rem;
    text-align: center;
    font-family: var(--font--astounder--lc);
    text-shadow: var(--title--shadow);
    margin-bottom: 1.2rem;
}

.contacto__flex {
    display: flex;
    justify-content: center;
}

.contacto__flex--img {
    background-image: url(../images/hab3.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50rem;
    height: 50rem;
    border: .5rem solid var(--color--white);
}

.contacto__flex--redes {
    border: .5rem solid var(--color--white);
    border-left: none;
    padding: 2rem;
    width: 50rem;
    height: 50rem;
    background-image: url(../images/tipito-vab.png);
    background-color: rgba(255, 255, 255, 0.178);
    background-size: 52%;
    background-repeat: no-repeat;
    background-position: center 6.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacto__flex--redes .links--instagram,
.contacto__flex--redes .links--twitter,
.contacto__flex--redes .links--tiktok,
.contacto__flex--redes .links--spotify,
.contacto__flex--redes .links--youtube,
.contacto__flex--redes .links--twitch {
    width: 3.4rem;
    height: 3.4rem;
}

.contacto__flex--redes  .links--instagram {
    background-image: url("/icons/instagram-color.png");
}

.contacto__flex--redes .links--twitter {
    background-image: url("/icons/twitter-color.png");
}

.contacto__flex--redes .links--tiktok {
    background-image: url("/icons/tiktok-color.png");
}

.contacto__flex--redes .links--spotify {
    background-image: url("/icons/spotify-color.png");
}

.contacto__flex--redes .links--youtube {
    background-image: url("/icons/youtube-color.png");
}

.contacto__flex--redes .links--twitch {
    background-image: url("/icons/twitch-color.png");
}

.title {
    text-transform: uppercase;
    font-family: var(--font--astounder--lc);
    font-weight: 400;
    font-size: 3.4rem;
    text-shadow: var(--title--shadow);
}

.contacto__list {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

/* Media query to target mobile and tablet */
@media all and (max-width:1140px) {
    .contacto__flex {
        flex-direction: column-reverse;
        border-left: .5rem solid var(--color--white);
    }

    .contacto__flex {
        width: calc(100vw - 3.2rem);
    }

    .contacto__flex--img {
        display: none;
    }
    .contacto__flex--redes {
        width: 100%;
        height: 36rem;
        background-size: 50%;
        background-position: center 5.2rem;

    }

    .contacto__list {
        gap: 2rem;
    }
    .contacto__flex {
        margin: 0 auto;
    }

    .contacto__flex--redes .title {
        font-size: 2.4rem;
    }

    .header__title {
        font-size: 4rem;
    }

}