/* ============================== FONTS ============================== */

/* ============================== DM SANS ============================== */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* ============================== ROBOTO ============================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ============================== GOOD TIMES - VAMOS A BAILAR ============================== */
@font-face {
    font-family: GoodTimes;
    src: url(../fonts/good-times-rg.otf);
}

/* ============================== ASTOUNDER SQUARED LC BB ============================== */

@import url("https://use.typekit.net/ykr8cww.css");

/* ============================== NEWTON HOWARD - LOGO ============================== */
@font-face {
    font-family: 'Newton-Howard-Italic';
    src: url(../fonts/newton_howard/Newton-Howard-Font-Italic.otf);
}

@font-face {
    font-family: 'Newton-Howard-Regular';
    src: url(../fonts/newton_howard/Newton-Howard-Font.otf);
}

/* ============================== VARIABLES ============================== */

:root {
    --color--white: #FFFFFF;
    --color--black: #000000;
    --color--lightest: #A60321;
    --color--lighter: #A60311;
    --color--light: #73020C;
    --color--medium: #400207;
    --color--dark: #260104;
    --color--links--nav: #00CDEF;
    --color--border--nav: #00CDEF;

    --font--good-times: 'GoodTimes', sans-serif;
    --font--astounder--lc: "astounder-squared-lc-bb", sans-serif;
    --font--astounder: "astounder-squared-bb", sans-serif;
    --font--DM-Sans: 'DM Sans', sans-serif;
    --font--howard--italic: 'Newton-Howard-Italic', sans-serif;
    --font--howard--regular: 'Newton-Howard-Regular', sans-serif;
    --font--roboto: 'Roboto','DM Sans', sans-serif;

    --title--shadow: .2rem .2rem .2rem var(--color--black);
}